@charset "utf-8";

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.page-content {
  max-width: 600px;
  min-height: 400px;
  margin: 0 auto;
  padding: 80px 0;
}

.mixed-data {
  @include mixed-data;
}

// -------------------------------------------------------
// Responsive.
// -------------------------------------------------------

@media only screen and (max-width: $vp-page) {
  .page-content {
    padding: 32px $default-spacing 40px $default-spacing;
  }
}
