@charset "utf-8";

// -------------------------------------------------------
// Home.
// -------------------------------------------------------

.home {
  @include font-title;

  height: 100%;

  background: url("/static/images/header/home.jpg") no-repeat center center fixed;
  background-color: $dragon;
  background-size: cover;
}

// -------------------------------------------------------
// Header.
// -------------------------------------------------------

.home__header {
  padding-top: 32px;
}

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.home__content {
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
}

.home__notice a {
  display: block;

  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 64px;
  padding: 12px;

  opacity: 0.9;
  color: white;
  background: rgba($pizza-light, 0.5);
  border: 1px solid rgba($pizza-dark, 0.75);

  font-size: 2.25rem;

  transition: all 0.2s ease-in;
  text-align: center;

  strong:last-of-type {
    text-decoration: underline;
  }

  &:hover {
    opacity: 0.95;
    background: rgba($pizza, 0.75);
    border-color: 1px solid $pizza-dark;
    box-shadow: 0 2px 20px rgba($pizza-light, 0.4);
  }

  @media (max-height: 1100px) {
    margin-bottom: 32px;
  }

  @media (max-width: 800px) {
    font-size: 2rem;
  }

  @media (max-width: 600px) {
    font-size: 1.8rem;
  }
}

.home__list {
  text-align: center;
}

.home__project {
  display: inline-block;

  margin: 8px;
}

// -------------------------------------------------------
// Footer.
// -------------------------------------------------------

.home__footer {
  padding-top: 64px;
  padding-bottom: 24px;

  @media (min-height: 750px) and (min-width: 885px) {
    position: fixed;
    bottom: 0;

    width: 100%;
  }
}

.home__tagline {
  margin-bottom: 16px;

  color: white;

  font-size: 2.4rem;

  text-align: center;
}

// -------------------------------------------------------
// Responsive.
// -------------------------------------------------------

@media (max-height: 800px) {
  .home__content {
    padding-top: 16px;
  }

  .home__footer {
    padding-top: 48px;
  }
}
