---
title: Projects
subtitle: Games, apps and other products

permalink: /portfolio/
redirect_from: /work/
---

{% assign products = site.products | sort: 'date' | reverse %}

{% for product in products %}
  {% if product.state == "hero" %}
    {% include components/product/hero.html data=product %}
  {% endif %}
{% endfor %}

<section class="block">
  <h1 class="block__title">Products</h1>

  {% for product in products %}
    {% if product.state == nil or product.state == "hero" %}
      {% unless product.service %}
        {% include components/product/item.html data=product %}
      {% endunless %}
    {% endif %}
  {% endfor %}
</section>

<section class="block">
  <h1 class="block__title">Client Work</h1>

  {% for product in products %}
    {% if product.state == nil or product.state == "hero" %}
      {% if product.service %}
        {% include components/product/item.html data=product %}
      {% endif %}
    {% endif %}
  {% endfor %}
</section>

<section class="block">
  <h1 class="block__title">Abandoned Products</h1>

  {% for product in products %}
    {% if product.state == "dead" %}
      {% include components/product/item.html data=product %}
    {% endif %}
  {% endfor %}
</section>
