@charset "UTF-8";

// -------------------------------------------------------
// Mixed Data.
//
// A mixed-data mixin is a generic block of content which can
// contains almost anything. It's an entry body, a standard
// section.
//
// If you have some contents that need basic styling, use
// this.
// -------------------------------------------------------

@mixin mixed-data {
  font-size: 1.8rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hgroup,
  ul,
  ol,
  dd,
  p,
  figure,
  pre,
  table,
  fieldset,
  hr {
    // Add the line-height as a the default spacing.
    margin-bottom: $default-spacing;
  }

  ul {
    padding-left: $default-spacing * 2;

    list-style: circle;
  }

  ol {
    padding-left: $default-spacing * 2;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  img {
    display: block;

    max-width: 100%;
    margin: 0 auto;
  }

  a {
    @extend %link;
  }

  hr {
    width: 50%;
    margin-right: auto;
    margin-bottom: $default-spacing * 2;
    margin-left: auto;

    border: none;
    border-top: 1px solid $pxn-white;
  }

  iframe {
    display: block;

    max-width: 100%;
    margin: 0 auto;
    margin-bottom: $default-spacing;
  }
}
