@charset "utf-8";

// -------------------------------------------------------
// Typography and vertical rythm.
// -------------------------------------------------------

html {
  color: $text-color;

  font-family: $font-normal;
  font-size: 100%;
  font-weight: normal;
  line-height: $line-height-default;
}

// Add the line-height as a the default spacing
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
figure,
pre,
table,
fieldset,
hr,
.page-content p {
  margin-bottom: $margin-default;
}

// -------------------------------------------------------
// Links and selections.
// -------------------------------------------------------

// Remove decoration on all the links.
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

::selection {
  color: white;
  background: $brand-color;
}
