{% if page.show_promotion != nil %}

  {% if page.show_promotion == 'bulletml-for-unity' %}
    <p class="promotion promotion--text">
      We have created a plugin called <em>"BulletML for Unity"</em> which allows you to create fantastic patterns for your shooter. Interested? <a href="/docs/bulletml-for-unity/">Read more here.</a>
    </p>
  {% endif %}

  {% if page.show_promotion == 'steredenn' %}
    <figure class="promotion promotion--image">
      <a href="http://steredenn.pixelnest.io" target="_BLANK">
        <img src="/static/images/products/steredenn/promotion.png" title="Steredenn" alt="Steredenn">
        <figcaption>Click to get more information about our roguelike/shmup!</figcaption>
      </a>
    </figure>
  {% endif %}

{% endif %}
