############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Crap
.DS_Store

############
## Jekyll
############

_site
