# -------------------------------------------------------
# System.
# -------------------------------------------------------

Thumbs.db
Desktop.ini
.DS_Store

# -------------------------------------------------------
# Jekyll.
# -------------------------------------------------------

_site

# -------------------------------------------------------
# Sass.
# -------------------------------------------------------

.sass-cache/

# -------------------------------------------------------
# NPM.
# -------------------------------------------------------

node_modules
