@charset "utf-8";

/* ---------------------------------------------------------- *\
 * Footnotes.
\* ---------------------------------------------------------- */

.footnotes {
  margin-top: 8.0rem;
  padding-top: 2.4rem;

  border-top: 1px solid #f5f5f5;

  font-size: 0.8em;
}
