@charset "UTF-8";

// -------------------------------------------------------
// Intent button.
// -------------------------------------------------------

.intent-button {
  @include font-title;

  display: block;

  max-width: 80%;
  margin: 0 auto;
  padding: 24px;

  color: $pxn-dark !important;
  background-color: $pxn-light;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(black, 0.15);

  font-size: 2.4rem;

  transition: all 300ms cubic-bezier(0.24, 0.8, 0.24, 1);
  text-align: center;
  text-decoration: none !important;

  strong,
  em {
    display: block;

    color: white !important;

    font-size: 3.6rem;
    font-weight: bold;
  }

  &:hover {
    box-shadow: 0 6px 20px rgba(black, 0.2);

    transform: translateY(-8px) scale(1.05, 1.05) translateZ(0);
  }
}

// -------------------------------------------------------
// Variants.
// -------------------------------------------------------

.intent-button--small {
  max-width: 50%;
  padding: 12px 16px;

  font-size: 2rem;

  strong,
  em {
    font-size: 2.6rem;
  }
}

.intent-button--spacer {
  margin-bottom: 2.4rem;
}

// -------------------------------------------------------
// Colors.
// -------------------------------------------------------

.intent-button--bulletml {
  background: #00a7e6;
}

.intent-button--greenlight {
  background: darken(#d8e800, 4%); // #d8e800
}

.intent-button--services {
  background: $pizza-light;
}

.intent-button--talks {
  background: $burger;
}
