@charset "utf-8";

// -------------------------------------------------------
// Logo.
// -------------------------------------------------------

.logo {
  @include font-title;

  text-align: center;
}

// Link.

.logo__link {
  display: inline-block;

  color: white;
}

.logo__link:hover .logo__image img {
  transform: rotateZ(360deg);
}

.logo__link:hover .logo__name {
  color: $dragon;
  text-shadow: none;

  transform: translateY(2px) scale(1.2, 1.2);

  -webkit-font-smoothing: antialiased; // Hack to prevent weird behavior on the scale.
}

// Image.

.logo__image {
  img {
    width: 110px;
    height: auto;

    transition: all 300ms ease-out;
  }
}

.logo__image--big {
  img {
    width: 200px;
    height: auto;
  }
}

// Name.

.logo__name {
  text-shadow: 0 3px 10px rgba(black, 0.4);

  font-size: 4.8rem;

  transition: all 250ms ease-out;
}

// -------------------------------------------------------
// Block-variants.
// -------------------------------------------------------

.logo--home .logo__name {
  margin-bottom: 16px;
}


// -------------------------------------------------------
// Responsive.
// -------------------------------------------------------

@media only screen and (max-height: 900px) {
  .logo--home {
    .logo__name {
      font-size: 3.2rem;
    }

    .logo__image img {
      width: 140px;
    }
  }
}
