@charset "UTF-8";

// -------------------------------------------------------
// Member.
// -------------------------------------------------------

.member {
  line-height: normal;

  text-align: center;

  a {
    @extend %link;
  }
}

.member__avatar {
  width: 216px;
  height: auto;
  margin-bottom: 24px;

  border-radius: 1000px;
}

.member__title {
  @include font-title;

  font-size: 3.2rem;
}

.member__social {
  font-size: 1.8rem;
}

// -------------------------------------------------------
// Images.
// -------------------------------------------------------

.member__site a,
.member__twitter a {
  padding-left: 20px + 8px;

  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}

.member__site a {
  background-image: url("/static/images/icons/member-site.png");
}

.member__twitter a {
  background-image: url("/static/images/icons/member-twitter.png");
}
