@charset "UTF-8";

// -------------------------------------------------------
// Navbar.
// -------------------------------------------------------

.navbar {
  @include font-title(false);

  box-sizing: border-box;
  min-height: 40px;
  padding: 6px 1rem 5px;

  background: $dragon;

  font-size: 2rem;

  text-align: center;
}

.navbar__list {
}

.navbar__item {
  display: inline-block;

  padding: 0 7px;
}

.navbar__item a {
  color: white;

  @extend %link;
}

.navbar__item a.is-active {
  color: $burger;
}

// -------------------------------------------------------
// Block-variants.
// -------------------------------------------------------

.navbar--home {
  width: 100%;
  height: 32px;
  padding: 2px 0;

  background: rgba(black, 0.1);
}


// -------------------------------------------------------
// Responsive.
// -------------------------------------------------------

@media (max-width: $vp-small) {
  .navbar {
    padding: 8px 0;

    font-size: 1.6rem;
  }

  .navbar--home {
    padding: 5px 0;
  }

  .navbar__item {
    padding: 0 4px;
  }
}
