@charset "UTF-8";

// -------------------------------------------------------
// Product hero.
// -------------------------------------------------------

.product-hero {
  margin-bottom: 80px;
}

.product-hero__image-wrapper {
  margin-bottom: 24px;
}

.product-hero__image {
  display: block;

  max-width: 99%;
  max-height: 350px;
  margin: 0 auto;

  border-radius: 2px;
  box-shadow: 0 0 8px rgba(black, 0.25);
}

.product-hero__body {
}

.product-hero__header {
  margin-bottom: 24px;
}

.product-hero__title,
.product-hero__subtitle {
  @include font-title;

  text-align: center;
}

.product-hero__title {
  font-size: 4.8rem;

  a {
    display: block;

    color: $pizza;
    background: white;
    border-radius: 2px;

    transition: all 200ms ease-in;
  }

  a:hover {
    color: white;
    background: $pizza;
  }
}

.product-hero__subtitle {
  color: $pxn-light;

  font-size: 3.2rem;
}

.product-hero__service {
  display: inline-block;

  margin-bottom: 2rem;
  padding: 0.25rem 1rem;

  color: white;
  background: $burger-dark;
  border-radius: 1rem;

  font-size: 1.2em;
  font-weight: bold;

  text-transform: uppercase;
}

.product-hero__types {
  @include font-title;

  text-align: right;
}

.product-hero__type {
  padding: 0.35rem 0.5rem 0.25rem ;

  color: white;
  background: $pxn-light;
  border-radius: 2px;

  font-size: 1.35rem;
  font-weight: bold;

  & + .product-hero__type {
    margin-left: 4px;
  }

  &.product-hero__type--service {
    background: $pxn-medium;
  }
}

.product-hero__content {
  @include mixed-data;

  box-sizing: border-box;
  margin-bottom: 24px;
  margin-left: -32px;
  padding-left: 24px;

  border-left: 8px solid $pxn-white;
}

.product-hero__links {
  @include font-title;

  margin-bottom: 1rem;

  font-size: 2.4rem;

  text-align: right;

  a {
    padding-right: 28px;

    background-image: url("/static/images/icons/product-website.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;

    @extend %link;
  }

  a[href*="youtu"] {
    background-image: url("/static/images/icons/product-trailer.png");
  }

  a[href*="press"] {
    background-image: url("/static/images/icons/product-press.png");
  }

  a[href*="download"] {
    background-image: url("/static/images/icons/product-download.png");
  }
}

// -------------------------------------------------------
// Product item.
// -------------------------------------------------------

.product-item {
  margin-bottom: 40px;

  &:after {
    display: table;
    clear: both;

    content: "";
  }
}

.product-item__image-wrapper {
  float: left;

  margin-right: 24px;
}

.product-item__image {
  display: block;

  width: 128px;
  height: auto;

  border-radius: 2px;
  box-shadow: 0 0 8px rgba(black, 0.25);
}

.product-item__body {
}

.product-item__title {
  @include font-title;

  margin-bottom: 12px;

  font-size: 2.4rem;

  a {
    color: inherit;

    transition: all 250ms ease-out;
  }

  a:hover {
    color: $pizza;
  }
}

.product-item__type {
  position: relative;
  top: -3px;

  margin-left: 1px;
  padding: 0.25rem 0.5rem 0.1rem;

  color: white;
  background: $burger-light;
  border-radius: 2px;

  font-size: 1.5rem;
  font-weight: bold;

  &:first-of-type {
    margin-left: 5px;
  }

  &.product-item__type--service {
    background: $burger-dark;
  }
}

.product-item__content {
  @include mixed-data;

  font-size: 1.6rem;
}

.product-item__link {
  @include font-title;

  display: block;

  padding-right: 20px;

  background-image: url("/static/images/icons/product-more.png");
  background-repeat: no-repeat;
  background-position: right 2px;
  background-size: 20px;

  font-size: 2.4rem;

  text-align: right;

  @extend %link;
}

@media (max-width: 450px) {
  .product-item {
    margin-bottom: 64px;

    text-align: center;
  }

  .product-item__image-wrapper {
    float: none;

    margin-bottom: 24px;
    margin-right: 0;
  }

  .product-item__image {
    display: inline-block;
  }

  .product-item__link {
    max-width: 150px;
    margin: 0 auto;
    padding: 6px;

    color: white;
    background: $pizza;
    border-radius: 2px;

    font-size: 2rem;

    transition: background 200ms ease-out;
    text-align: center;

    &:hover {
      color: white;
      background: $pizza-dark;

      text-decoration: none;
    }
  }
}
