@charset "UTF-8";

// -------------------------------------------------------
// Product hero.
// -------------------------------------------------------

.product-hero {
  margin-bottom: 80px;
}

.product-hero__image-wrapper {
  margin-bottom: 24px;
}

.product-hero__image {
  display: block;

  max-width: 100%;
  max-height: 350px;
  margin: 0 auto;

  border-radius: 2px;
  box-shadow: 0 0 8px rgba(black, 0.25);
}

.product-hero__body {
}

.product-hero__header {
  margin-bottom: 24px;
}

.product-hero__title,
.product-hero__subtitle {
  @include font-title;

  text-align: center;
}

.product-hero__title {
  font-size: 4.8rem;

  a {
    display: block;

    color: $pizza;
    background: white;
    border-radius: 2px;

    transition: all 200ms ease-in;
  }

  a:hover {
    color: white;
    background: $pizza;
  }
}

.product-hero__subtitle {
  color: $pxn-light;

  font-size: 3.2rem;
}

.product-hero__content {
  @include mixed-data;

  box-sizing: border-box;
  margin-bottom: 24px;
  margin-left: -32px;
  padding-left: 24px;

  border-left: 8px solid $pxn-white;
}

.product-hero__links {
  @include font-title;

  font-size: 2.4rem;

  text-align: right;

  a {
    @extend %link;

    padding-right: 28px;

    background-image: url("/static/images/icons/product-website.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
  }

  a[href*="youtu"] {
    background-image: url("/static/images/icons/product-trailer.png");
  }

  a[href*="press"] {
    background-image: url("/static/images/icons/product-press.png");
  }

  a[href*="download"] {
    background-image: url("/static/images/icons/product-download.png");
  }
}

// -------------------------------------------------------
// Product item.
// -------------------------------------------------------

.product-item {
  margin-bottom: 40px;

  &:after {
    display: table;
    clear: both;

    content: "";
  }
}

.product-item__image-wrapper {
  float: left;

  margin-right: 24px;
}

.product-item__image {
  display: block;

  width: 128px;
  height: auto;

  border-radius: 2px;
  box-shadow: 0 0 8px rgba(black, 0.25);
}

.product-item__body {
}

.product-item__title {
  @include font-title;

  margin-bottom: 12px;

  font-size: 2.4rem;
}

.product-item__type {
  color: $pxn-medium;

  font-size: 1.4rem;
}

.product-item__content {
  @include mixed-data;

  font-size: 1.6rem;
}

.product-item__link {
  @include font-title;
  @extend %link;

  display: block;

  padding-right: 20px;

  background-image: url("/static/images/icons/product-more.png");
  background-repeat: no-repeat;
  background-position: right 2px;
  background-size: 20px;

  font-size: 2.4rem;

  text-align: right;
}
