@charset "UTF-8";

// -------------------------------------------------------
// Studio.
// -------------------------------------------------------

.studio {
  margin-bottom: 80px;
}

.studio__description {
  @include font-title;

  margin-bottom: 32px;

  font-size: 2.4rem;

  text-align: center;
}

.studio__members .col {
  width: 50%;
}

// -------------------------------------------------------
// Responsive.
// -------------------------------------------------------

@media only screen and (max-width: $vp-small) {
  .studio__members .col {
    width: 100%;
    margin-bottom: 32px;
  }
}
