@charset "UTF-8";

// -------------------------------------------------------
// Global.
// -------------------------------------------------------

.tutorial .page-content {
  // Slightly bigger by default in tutorial pages.
  max-width: 640px;
}

.tutorial .entry__header {
  margin-bottom: $default-spacing;
  padding-bottom: 8px;

  border-bottom: 1px solid rgba($pizza, 0.2);
}

.tutorial .entry__title {
  font-size: 4rem;
}

.tutorial .entry__content {
  font-size: 2.1rem;
}

.tutorial .pager {
  margin-bottom: 64px;
}

.tutorial-header,
.promotion {
  a {
    @extend %link;
  }
}

// -------------------------------------------------------
// Header.
// -------------------------------------------------------

.tutorial-header {
  padding: 8px 16px;

  background: #fbfbfb;
  border-bottom: 1px solid #e5e5e5;

  font-size: 1.8rem;

  @media only screen and (max-width: $vp-page) {
    font-size: 1.6rem;
  }
}

.tutorial-header__back {
  width: 25%;
}

.tutorial-header__reference {
  box-sizing: border-box;
  width: 50%;
  padding: 0 8px;
}

.tutorial-header__social {
  width: 25%;
}

// -------------------------------------------------------
// Footer.
// -------------------------------------------------------

.tutorial-footer {
  @include font-title;

  padding-bottom: 16px;

  color: $pxn-medium;

  font-size: 1.8rem;

  text-align: center;
}

// -------------------------------------------------------
// Promotion Header.
// -------------------------------------------------------

.promotion-header {
  padding: 16px;

  color: white;
  background: $dragon;

  font-size: 1.8rem;

  text-align: center;

  a {
    color: white;
    border-bottom: 1px dotted $pxn-light;
  }

  a:hover {
    border-bottom: 1px solid;
  }
}

// -------------------------------------------------------
// Promotion.
// -------------------------------------------------------

.promotion {
}

.promotion--text {
}

.promotion--image {
  figure {
  }

  img {
    display: block;

    max-width: 100%;
    margin-bottom: 8px;

    opacity: 0.8;

    transition: opacity 300ms ease-out;

    &:hover {
      opacity: 1;
    }
  }

  figcaption {
    font-size: 1.4rem;

    text-align: center;
  }
}

// -------------------------------------------------------
// Page.
// -------------------------------------------------------
