@charset "utf-8";

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.page-content {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: $margin-default * 8;
}
