// ---------------------
// About
// ---------------------

/// Founders

.founders {
  display: table;
  margin: 0 auto;
  padding: 60px 0;
  width: 800px;
}

.founder {
  display: table-cell;
  width: 50%;
  text-align: center;
}

.founder__cover {
  width: 160px;
  height: 160px;
  border-radius: 100px;
}

.founder__title {
  margin: 40px 0 0px 0;
  font-size: 1.4em;
}

.founder__links {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.founder__links li {
  padding: 5px 0;

  a {
    @extend %link;
    padding-left: 35px;
    background-size: 28px;
    background-repeat: no-repeat;
  }

  &.blog a {
    background-image: url("/static/images/icon-site-black.png");
  }

  &.twitter a {
    background-image: url("/static/images/icon-twitter-black.png");
  }
}
