// ---------------------
// Contact
// ---------------------

.contacts {
  padding-left: 10px;
  list-style: none;

  li {
    padding: 0;

    a {
      @extend %link;
      padding-left: 40px;
      background-size: 28px;
      background-repeat: no-repeat;
    }

    &.twitter a {
      background-image: url("/static/images/icon-twitter-black.png");
    }

    &.facebook a {
      background-image: url("/static/images/icon-facebook-black.png");
    }

    &.mail a {
      background-image: url("/static/images/icon-mail-black.png");
    }
  }
}
