// ---------------------
// Footer
// ---------------------

.page-footer {
  position: relative;
  margin-top: 160px;
  padding: 20px;
  background: $brand3-color;
  color: white;
  font-size: 0.9em;
}

.credits {
  display: table;
  caption-side: top;
  width: 100%;
}

.credits__desc,
.credits__follows {
  margin: 0;
}

.credits__desc {
  display: table-cell;

  strong {
    font-style: italic;
    font-weight: normal;
  }
}

.credits__follows {
  display: table-cell;

  padding: 0;
  list-style: none;
  text-align: right;

  li {
    display: inline-block;

    a {
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 30px;

      color: white;
      text-decoration: none;
    }

    a:hover { color: #ddd; }

    &.twitter a {
      // {img[40px]text[20px]}
      padding: 0 20px 0 40px;
      background-image: url("/static/images/icon-twitter-white.png");
    }

    &.facebook a {
      padding-left: 35px;
      background-image: url("/static/images/icon-facebook-white.png");
    }
  }
}

// Change for very small screens
@media only screen and (max-width: $lap) {
  .credits__desc {
    display: table-row;
  }

  .credits__follows {
    display: table-caption;
    padding-bottom: 15px;
    text-align: center;
  }
}
