// ---------------------
// Fusion Ads
// ---------------------

.fusion {
  font-size: 13px;

  a {
    color: #bbb;
    text-decoration: none;
  }
}

// ---------------------
// SMALL SCREEN
// ---------------------

// Hide the ad in lower-than landscape mode.
@media only screen and (max-width: $landscape) {
  .fusion {
    display: none;
  }
}

// ---------------------
// BIG SCREEN
// ---------------------

@media only screen and (min-width: $landscape) {
  .fusion {
    position: absolute;
    top: 70px;
    right: -147px;

    width: 130px;
  }

  .fusionimg {
    margin-bottom: 10px;
  }

  .fusiontext {
    display: block;
    padding: 0 4px;
  }

  .fusionpowered {
    display: block;

    margin-top: 20px;
    margin-left: 30px;
    padding-top: 5px;

    border-top: 1px solid #ddd;

    text-align: right;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 1100px) {
  .fusion {
    right: -180px;
  }
}

@media only screen and (min-width: $desk) {
  .fusion {
    right: -220px;
  }
}

// ---------------------
// IE 7-8
// ---------------------

.ie {
  .fusion {
    position: relative;
    top: -30px;

    margin: 0 auto;
    padding: 20px;

    width: 400px;
    height: 100px;

    border: 1px solid #ddd;
  }

  .fusionimg {
    float: left;
    margin-right: 20px;
  }

  .fusionpowered {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
}
