// ---------------------
// Pager
// ---------------------

.pager {
  position: relative;
  display: table;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  border-top: 1px solid #eee;

  color: #bbb;

  &.bottom {
    bottom: -140px;
  }
}

.pager a {
  @extend %link;
}

.pager__ref,
.pager__newer,
.pager__older {
  display: table-cell;
}

.pager__ref {
  width: 36%;
  text-align: center;
}

.pager__older {
  width: 32%;
  text-align: left;
}

.pager__newer {
  width: 32%;
  text-align: right;
}
