// ---------------------
// Pager
// ---------------------

.pager {
  position: relative;
  display: table;
  margin: 0 auto;
  width: 100%;

  color: #bbb;

  &.pager--bottom-space {
    bottom: -140px;
  }

  &.pager--bottom-separator {
    padding-top: 20px;
    border-top: 1px solid #eee;
  }

  &.pager--top-separator {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
}

.pager a {
  @extend %link;
}

.pager--em a {
  color: #EC8604;
}

.pager__ref,
.pager__newer,
.pager__older {
  display: table-cell;
}

.pager__ref {
  width: 36%;
  text-align: center;
}

.pager__older {
  width: 32%;
  text-align: left;
}

.pager__newer {
  width: 32%;
  text-align: right;
}
