@charset "utf-8";
/**
 * Pixelnest Studio
 *
 * -------------------------
 * link: pixelnest.io
 * twitter: @pixelnest
 * contact: site@pixelnest.io
 * -------------------------
 *
 * The rules must follow a strict order :
 * - display
 * - position
 * - margin/padding
 * - width/height
 * - background/border
 * - color/font/text/letter
 * - transition
 * - media queries
 */

// ---------------------
// Colors
// ---------------------

$brand1-color: #00A9E0; // blue
$brand2-color: #98C73D; // green
$brand3-color: #3B3B3D; // grey
$text-color:   #353535; // almost black

// -------------------------------------------------------
// Mixins
// -------------------------------------------------------

@mixin transition ($transition, $duration, $function: ease) {
  // ease | linear | ease-in | ease-out | ease-in-out | cubic-bezier()
  -webkit-transition: $transition $duration $function;
  -moz-transition: $transition $duration $function;
  -ms-transition: $transition $duration $function;
  -o-transition: $transition $duration $function;
  transition: $transition $duration $function;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-ms-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &.placeholder { @content }
}

%clearfix {
  overflow:hidden;
  _overflow:visible;
  zoom:1;
}

%link {
  color: $brand1-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// ---------------------
// Constants
// ---------------------

$MAX: 800px;

// -------------------------------------------------------
// Global
// -------------------------------------------------------

// ---------------------
// Root
// ---------------------

html, body {
  margin: 0;
  padding: 0;
}

// Basic typography and background
body {
  background: $brand3-color;

  color: $text-color;
  font-family: 'Poly', serif;
  font-size: 150%;
}

.page {
  background: #fbfbfb;
}

// Change the selection to white on green
.page *::-moz-selection {
  background: $brand1-color;
  color: white;
}

// Change the selection to white on green
.page *::selection {
  background: $brand1-color;
  color: white;
}

// -------------------------------------------------------
// Components
// -------------------------------------------------------

.logo {
  display: table;
  position: relative;
  top: 20px;
  left: 20px;
  padding: 10px;
  background: rgba($brand3-color, 0.7);
  border-radius: 8px;
  text-decoration: none;
}

.logo__img {
  display: table-cell;
  width: 82px;
  height: 82px;
  box-shadow: 0 0 6px #333;
}

.logo__title {
  display: table-cell;
  padding: 0 10px;
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  text-shadow: 0 0 6px #333;
  vertical-align: middle;
}

/// Header

.navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.navbar__link {
  display: inline-block;
  padding: 0 20px;
  font-size: 0.9em;

  a { color: black; text-decoration: none; }
  a:hover { color: #ddd; }
}

.imagebar {
  border-bottom: 1px solid #888;
  background-image: url("/static/images/background02.png");
  background-size: cover;
  background-position: center;
  background-color: rgb(243, 133, 57);

  height: 400px;
  width: 100%;

  @media only screen and (max-width: 1000px) {
    height: 350px;
  }

  @media only screen and (max-width: 800px) {
    height: 300px;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.page-title {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #888888;
  font-size: 3em;
  text-align: center;
}

.page-subtitle {
  position: relative;
  top: -20px;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;

  strong {
    color: $brand1-color;
    font-style: italic;
  }
}

.page-start {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 70px;
  max-width: 900px;
  border-top: 0px;
  border-bottom: 1px solid #DDD;
}

/// Body

.page-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
}

/// Footer

.page-footer {
  position: relative;
  margin-top: 200px;
  padding: 20px;
  background: $brand3-color;
  color: white;
}

.credits {
  display: table;
  width: 100%;

  p, ul {
    display: table-cell;
    margin: 0;
  }
}

.credits__desc {
  strong {
    font-style: italic;
    font-weight: normal;
  }
}

.credits__follows {
  padding: 0;
  list-style: none;
  text-align: right;

  li {
    display: inline-block;

    a {
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 30px;

      color: white;
      text-decoration: none;
    }

    a:hover { color: #ddd; }

    &.twitter a {
      padding: 0 40px;
      background-image: url("/static/images/icon-twitter-white.png");

    }

    &.facebook a {
      padding-left: 35px;
      background-image: url("/static/images/icon-facebook-white.png");
    }
  }
}

/// Cards

.card {
  @extend %clearfix;

  margin-bottom: 90px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.card__title {
  margin: 0;
  margin-bottom: 20px;
}

.card__cover {
  float: left;
  margin-right: 20px;
  border: 1px solid #ddd;
}

.card__body {
  @extend %clearfix;

  :first-child {
    margin-top: 0;
  }
}

/// Founders

.founders {
  display: table;
  margin: 0 auto;
  padding: 60px 0;
  width: 800px;
}

.founder {
  display: table-cell;
  width: 50%;
  text-align: center;
}

.founder__cover {
  width: 160px;
  height: 160px;
}

.founder__title {
  margin: 40px 0 0px 0;
  font-size: 1.4em;
}

.founder__links {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.founder__links li {
  padding: 5px 0;

  a {
    padding-left: 35px;
    background-size: 28px;
    background-repeat: no-repeat;

    color: $brand1-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.blog a {
    background-image: url("/static/images/icon-site-black.png");
  }

  &.twitter a {
    background-image: url("/static/images/icon-twitter-black.png");
  }
}

/// Contacts

.contacts {
  padding-left: 10px;
  list-style: none;

  li {
    padding: 4px 0;

    a {
      padding-left: 40px;
      background-size: 28px;
      background-repeat: no-repeat;

      color: $brand1-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.twitter a {
      background-image: url("/static/images/icon-twitter-black.png");
    }

    &.facebook a {
      background-image: url("/static/images/icon-facebook-black.png");
    }

    &.mail a {
      background-image: url("/static/images/icon-mail-black.png");
    }
  }
}
