// -------------------------------------------------------
// Promotion header.
// -------------------------------------------------------

.promotion-header {
    min-height: 23px;
    padding: 12px 10px 15px 10px;
    background: $brand1-color;

    color: white;
    font-size: 0.8em;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
      border-bottom: 1px dotted white;

      &:hover {
        border-bottom-style: solid;
      }
    }
  }

// -------------------------------------------------------
// Promotion.
// -------------------------------------------------------

$promotion-margin-top: 60px;

.promotion {
  margin-top: $promotion-margin-top;
  padding: 15px;
  background: #f3f3f3;
  border: 1px solid #d6d6d6;
  border-radius: 10px;

  color: #5f5f5f;
  font-size: 0.7em;
  line-height: 1.4em;

  a { @extend %link; }
}

.promotion-image {
  margin-top: $promotion-margin-top;

  img {
    width: 700px;
    max-width: 100%;
    opacity: 0.8;

    @include transition(opacity, 300ms, ease-out);

    &:hover { opacity: 1; }
  }

  p {
    margin: 0;
    margin-top: 5px;

    font-size: 1rem;
    text-align: center;

    &:hover { text-decoration: underline; }
  }

  a {
    @extend %link;
    &:hover { text-decoration: none; }
  }
}
