// ---------------------
// Tutorial
// ---------------------

.tutorial {

  // Small header
  .page-header {
    margin-bottom: 40px;
    padding: 12px 10px;
    background-color: rgba(240, 240, 240, 0.8);

    font-size: 0.8em;

    // Decrease the font a bit on small screen
    @media only screen and (max-width: $phone) {
      font-size: 0.6em;
    }

    nav {
      display: table;
      width: 100%;
    }

    .page-back,
    .page-ref,
    .page-link {
      display: table-cell;
      width: 25%;
    }

    .page-back {
      text-align: left;
    }

    .page-ref {
      text-align: center;
      padding: 0 10px;
      width: 50%;
    }

    .page-link {
      text-align: right;
    }

    a {
      @extend %link
    }
  }

  .page-content {
    margin: 20px auto;
  }

  .entry {
    margin: 60px 0;
  }

  // Light footer
  .page-footer {
    background-color: transparent;
    color: #888888;

    p {
      display: block;
      font-size: 0.9em;
      text-align: center;
    }
  }
}
