// ---------------------
// Variables
// ---------------------

// ---------------------
// Colors
// ---------------------

$brand1-color: #00A9E0; // blue
$brand2-color: #98C73D; // green
$brand3-color: #3B3B3D; // grey
$text-color:   #353535; // almost black

// ---------------------
// Viewports
// ---------------------

$phone     : 600px;
$lap       : 800px;
$landscape : 1000px;
$desk      : 1200px;

// ---------------------
// Sizes
// ---------------------

$MAX: 700px;
