// ---------------------
// Work
// ---------------------

.title-separator {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 10px;

  background: #eeeeee;

  font-size: 2.5rem;
  text-align: center;
}

/// Cards

.card {
  @extend %clearfix;

  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.card.alone {
  border-bottom: none;
}

.card__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.card__title a {
  @extend %link;
}

.card__type {
  color: #bbb;
  font-size: 0.7em;
  font-style: italic;
}

.card__cover {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
}

.card__body {
  // @extend %clearfix;

  > :first-child {
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

// For small screen

@media only screen and (max-width: $small) {
  .card__cover {
    display: block;
    float: none;
    margin: 20px auto;
  }
}
