@charset "utf-8";

// -------------------------------------------------------
// Links.
// -------------------------------------------------------

%link {
  color: $pizza;

  text-decoration: none;

  &:hover {
    color: $pizza-light;

    text-decoration: underline;
  }

  &:active {
    color: $pizza-dark;
  }
}
