<footer class="page-footer">
  <div class="page-footer__copyright">
    <p>© 2016 Pixelnest Studio</p>
    <p>We craft <strong>games</strong> and <strong>apps</strong></p>
  </div>

  <div class="page-footer__links">
    <img src="/static/images/icons/facebook.png" alt="Facebook"         title="Facebook"         />
    <img src="/static/images/icons/twitter.png"  alt="Twitter"          title="Twitter"          />
    <img src="/static/images/icons/pxn.png"      alt="Pixelnest Studio" title="Pixelnest Studio" />
  </div>
</footer>
