<footer class="page-footer">
  <section class="credits">
    <h1 class="credits__title">
      © 2013 pixelnest.io
    </h1>

    <p class="credits__description">Pixelnest Studio is a company based in Rennes, France.</p>
  </section>

  <section class="followlinks">
    <h2 class="followlinks__title">Follow us on :</h2>

    <ul class="followlinks__list">
      <li class="followlinks__network">twitter</li>
      <li class="followlinks__network">facebook</li>
    </ul>
  </section>

  <section class="founders">
    <h2 class="founders__title">We are :</h2>

    <ul class="founders__list">
      <li class="founders__person">
        <h3><a href="http://dmayance.com">Damien Mayance</a></h3>
        <p><a href="http://twitter.com/valryon">@valryon</a></p>
      </li>
      <li class="founders__person">
        <h3><a href="http://solarsailer.net">Matthieu Oger</a></h3>
        <p><a href="http://twitter.com/solarsailer">@solarsailer</a></p>
      </li>
    </ul>
  </section>
</footer>
