<footer class="page-footer">
  <div class="page-footer__item copyright">
    <p>© Pixelnest Studio</p>
    <p>We craft <strong>games</strong> and <strong>apps</strong></p>
  </div>

  <div class="page-footer__item social">
    <a href="https://facebook.com/pixelneststudio/">
      <img class="facebook"
           src="/static/images/icons/footer-facebook.png"
           alt="Facebook"
           title="Facebook">
    </a>
    <a href="https://twitter.com/pixelnest/">
      <img class="twitter"
           src="/static/images/icons/footer-twitter.png"
           alt="Twitter"
           title="Twitter">
    </a>
    <a href="#top">
      <img class="pxn"
           src="/static/images/icons/footer-pxn.png"
           alt="Pixelnest Studio"
           title="Pixelnest Studio">
    </a>
  </div>
</footer>
