<header>
  <section class="imagebar">
    <a class="logo" href="/">
      <img class="logo__img" src="/static/images/pixelnest.png" />
      <p class="logo__title">Pixelnest<br />Studio</p>
    </a>
  </section>

  <h1 class="page-title">{{ page.title }}</h1>


  <h2 class="page-subtitle">
     {{ page.subtitle }} 
  </h2>


   <ul class="navbar">
    <li class="navbar__link">
      <a href="/">home</a>
    </li>
    <li class="navbar__link">
      <a href="/projects">projects</a>
    </li>
    <li class="navbar__link">
      <a href="/journal">journal</a>
    </li>
    <li class="navbar__link">
      <a href="/contact">contact</a>
    </li>
    <li class="navbar__link">
      <a href="/about">about</a>
    </li>
  </ul>

  <hr class="page-start" />
</header>
