<header class="page-header">
  <nav>
    <ul class="header-contact">
      <li><a href="https://twitter.com/pixelnest">twitter</a></li>
      <li><a href="mailto:site@pixelnest.io">mail</a></li>
      <li><a href="https://facebook.com/pixelneststudio">facebook</a></li>
    </ul>
  </nav>

  <div class="header-logo">
    <a href="/">
      <p class="header-logo__image">
        <img src="/static/images/logo.png" alt="Pixelnest Studio" title="Pixelnest Studio" />
      </p>
      <p class="header-logo__name">Pixelnest</p>
    </a>
  </div>

  <nav class="header-menu">
    <ul>
      <li><a href="/work" class="active">Projects</a></li>
      <li><a href="/service">Services</a></li>
      <li><a href="/tutorials">Tutorials</a></li>
      <li><a href="/journal">Journal</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
