<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.url == '/index.html' %}
<title>Pixelnest Studio — we craft games and apps</title>
{% else %}
<title>{{ page.title }} — Pixelnest Studio</title>
{% endif %}

<!-- misc -->
<link rel="shortcut icon" href="/static/images/favicon.ico?v=0000" />
<link rel="alternate" type="application/atom+xml" title="Pixelnest Studio" href="http://feedpress.me/pixelnest" />

<!-- css -->

<!--[if lte IE 8]>
<link rel="stylesheet" type="text/css" href="/static/css/ie.css" />
<![endif]-->

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poly:400,400italic">
<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/css/pixelnest.css" />

<!-- apple -->
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon-72x72-precomposed.png" sizes="72x72" />
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon-114x114-precomposed.png" sizes="114x114" />
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon-144x144-precomposed.png" sizes="144x144" />

<!-- description -->
<meta name="author" content="Pixelnest Studio">
<meta name="description" content="Pixelnest Studio. We craft games and apps.">
<meta name="keywords" content="pixelnest, studio, damien, mayance, matthieu, oger, games, apps, development, mobile" />

<!-- g+ -->
<link rel="publisher" href="https://plus.google.com/u/114400089635726996204/114400089635726996204/posts">
<link rel="author" href="https://plus.google.com/u/114400089635726996204/114400089635726996204/posts"/>

<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@pixelnest">
<meta name="twitter:creator" content="@pixelnest">
<meta name="twitter:description" content="Pixelnest Studio - by @solarsailer and @valryon. We craft games and apps.">
