<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% if page.url == '/' or page.url == '/index.html' %}
<title>Pixelnest Studio</title>
{% else %}
<title>{{ page.title }} — Pixelnest Studio</title>
{% endif %}

<!-- Misc. -->
<link rel="shortcut icon" href="/static/images/favicon.ico?v=0002" />
<link rel="alternate" type="application/atom+xml" title="Pixelnest Studio" href="http://feedpress.me/pixelnest" />

<!-- Description. -->
<meta name="author" content="Pixelnest Studio" />
<meta name="description" content="Pixelnest Studio — we craft games and apps." />
<meta name="keywords" content="pixelnest, studio, damien, mayance, matthieu, oger, games, apps, development, mobile, web, steredenn" />

<!-- Social. -->
<link rel="author" href="http://pixelnest.io/about/"/ />
<link rel="publisher" href="https://plus.google.com/+PixelnestStudio" />

<!-- Twitter. -->
<meta name="twitter:card"        content="summary" />
<meta name="twitter:site"        content="@pixelnest" />
<meta name="twitter:creator"     content="@pixelnest">
<meta name="twitter:title"       content="Pixelnest Studio" />
<meta name="twitter:description" content="We craft games and apps." />
<meta name="twitter:url"         content="http://pixelnest.io/" />
<meta name="twitter:image"       content="http://pixelnest.io/static/images/card.jpg" />
<meta name="twitter:image:alt"   content="Pixelnest Studio — we craft games and apps." />

<!-- OpenGraph. -->
<meta property="og:locale"       content="en" />
<meta property="og:title"        content="Pixelnest Studio">
<meta property="og:description"  content="Pixelnest Studio — we craft games and apps.">
<meta property="og:url"          content="http://pixelnest.io">
<meta property="og:image"        content="http://pixelnest.io/static/images/card.jpg">
<meta property="og:image:height" content="1920">
<meta property="og:image:width"  content="1080">
<meta property="og:image:type"   content="image/jpg">
<meta property="og:site_name"    content="Pixelnest Studio">
<meta property="og:type"         content="website">
