{% if page.show_promotion != nil %}

<!-- BulletML for Unity promotion -->
{% if page.show_promotion == 'bulletml-for-unity' %}
<div class="promotion">
  We have created a plugin called <em>"BulletML for Unity"</em> which allows you to create fantastic patterns for your shooter. Interested? <a href="/work/bulletml-for-unity/">Read more here.</a>
</div>
{% endif %}

<!-- Supermassive -->
{% if page.show_promotion == 'supermassive' %}
<div class="promotion-image">
  <a href="http://supermassive.pixelnest.io" target="_BLANK">
    <img src="/work/supermassive/-img/banner.png" title="Supermassive" alt="Supermassive" />
    <p>click to get more information about our upcoming game!</p>
  </a>
</div>
{% endif %}

{% endif %}
