.contacts {
  padding-left: 10px;
  list-style: none; }
  .contacts li {
    padding: 4px 0; }
    .contacts li a {
      padding-left: 40px;
      background-size: 28px;
      background-repeat: no-repeat; }
    .contacts li.twitter a {
      background-image: url("/static/images/icon-twitter-black.png"); }
    .contacts li.facebook a {
      background-image: url("/static/images/icon-facebook-black.png"); }
    .contacts li.mail a {
      background-image: url("/static/images/icon-mail-black.png"); }
