.entry {
  position: relative;
  margin-bottom: 120px;
  min-height: 180px; }

.entry__metadata {
  position: absolute;
  left: -160px;
  width: 150px;
  text-align: center; }

.entry__author img {
  width: 80px;
  height: 80px;
  border-radius: 80px; }
.entry__author p {
  margin: 5px;
  font-size: 0.8em; }

.entry__infos {
  color: #bbb;
  font-size: 0.7em; }
  .entry__infos p {
    margin: 0; }

.entry__content h1 {
  margin: 50px 0 0 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 1.5em; }
.entry__content h2 {
  margin: 40px 0 -10px 0;
  font-size: 1.4em; }
.entry__content h3 {
  margin: 40px 0 -20px 0;
  color: #87878a;
  font-size: 1.1em; }
.entry__content blockquote {
  padding-left: 30px;
  border-left: 1px solid #ccc;
  color: #828282; }
