@charset "utf-8";
/**
 * Pixelnest Studio
 *
 * -------------------------
 * link: pixelnest.io
 * twitter: @pixelnest
 * contact: site@pixelnest.io
 * -------------------------
 *
 * The rules must follow a strict order :
 * - display
 * - position
 * - margin/padding
 * - width/height
 * - background/border
 * - color/font/text/letter
 * - transition
 * - media queries
 */
html, body {
  margin: 0;
  padding: 0; }

body {
  background: #3b3b3d;
  color: #353535;
  font-family: 'Poly', serif;
  font-size: 150%; }

.page {
  background: #fbfbfb; }

.page *::-moz-selection {
  background: #00a9e0;
  color: white; }

.page *::selection {
  background: #00a9e0;
  color: white; }

.navbar {
  margin: 0;
  padding: 10px;
  background: #00a9e0;
  list-style-type: none;
  text-align: center; }

.navbar__link {
  display: inline-block;
  padding: 0 20px;
  font-size: 0.9em; }
  .navbar__link a {
    color: white;
    text-decoration: none; }
  .navbar__link a:hover {
    color: #ddd; }

.imagebar {
  border-top: 10px solid #444;
  border-bottom: 10px solid #444;
  background-image: url("/static/images/assets/bg.png");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%; }

.page-title {
  padding: 0 20px; }

.page-content {
  padding: 0 20px; }

.page-footer {
  position: relative;
  padding: 20px;
  background: #3b3b3d;
  color: white; }

.credits p, .follow-list {
  margin: 0; }

.follow-list {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  list-style: none; }

.follow-list__el {
  display: inline-block; }
  .follow-list__el a {
    color: white;
    text-decoration: none; }
  .follow-list__el a:hover {
    color: #ddd; }
