/**
 * Pixelnest Studio
 *
 * -------------------------
 * link: pixelnest.io
 * twitter: @pixelnest
 * contact: site@pixelnest.io
 * -------------------------
 *
 * The rules must follow a strict order :
 * - display
 * - position
 * - margin/padding
 * - width/height
 * - background/border
 * - color/font/text/letter
 * - transition
 * - media queries
 */
.card, .card__body, .ie .founders, .ie .founder {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

.page-content p a, .home__aside li a, .card__title a, .entry__title a, .entry__content a, .contacts li a, .founder__links li a, .pager a, .archives a, .tutorial .page-header a, .ie .logo {
  color: #00a9e0;
  text-decoration: none; }
  .page-content p a:hover, .home__aside li a:hover, .card__title a:hover, .entry__title a:hover, .entry__content a:hover, .contacts li a:hover, .founder__links li a:hover, .pager a:hover, .archives a:hover, .tutorial .page-header a:hover, .ie .logo:hover {
    text-decoration: underline; }
  .page-content p a:active, .home__aside li a:active, .card__title a:active, .entry__title a:active, .entry__content a:active, .contacts li a:active, .founder__links li a:active, .pager a:active, .archives a:active, .tutorial .page-header a:active, .ie .logo:active {
    color: #98c73d; }
  .page-content p a:focus, .home__aside li a:focus, .card__title a:focus, .entry__title a:focus, .entry__content a:focus, .contacts li a:focus, .founder__links li a:focus, .pager a:focus, .archives a:focus, .tutorial .page-header a:focus, .ie .logo:focus {
    color: #98c73d; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background: #3b3b3d;
  color: #353535;
  font-family: 'Poly', serif;
  font-size: 150%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.page {
  background: #fbfbfb; }

.page *::-moz-selection {
  background: #00a9e0;
  color: white; }

.page *::selection {
  background: #00a9e0;
  color: white; }

p {
  line-height: 140%; }

li {
  line-height: 140%; }

.page-content p strong {
  color: black; }

.page-content li strong {
  color: black;
  text-decoration: underline; }

@media only screen and (max-width: 600px) {
  body .page-content {
    font-size: 0.8em; } }
.page-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 700px; }

.banner {
  border-bottom: 1px solid #888;
  background-image: url("/static/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-color: #f38539;
  height: 400px;
  width: 100%; }
  @media only screen and (max-width: 1300px) {
    .banner {
      height: 350px; } }
  @media only screen and (max-width: 800px) {
    .banner {
      height: 300px; } }
  @media only screen and (max-width: 600px) {
    .banner {
      height: auto;
      background: none;
      background-color: #eee;
      border: none; } }

@media only screen and (max-width: 600px) {
  .logo {
    display: block;
    padding: 20px;
    text-align: center;
    color: #353535;
    text-decoration: none; }

  .logo__img {
    display: inline;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px #888;
    vertical-align: middle; }

  .logo__title {
    display: inline;
    font-size: 1.2em;
    vertical-align: middle; } }
@media only screen and (min-width: 600px) {
  .logo {
    display: table;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 10px;
    background: rgba(59, 59, 61, 0.7);
    border-radius: 8px;
    text-decoration: none; }

  .logo__img {
    display: table-cell;
    width: 82px;
    height: 82px;
    box-shadow: 0 0 6px #333;
    vertical-align: middle; }

  .logo__title {
    display: table-cell;
    padding: 0 10px;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    text-shadow: 0 0 6px #333;
    vertical-align: middle;
    line-height: 120%; }
    .logo__title span {
      display: block; } }
.navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center; }

.navbar__link {
  display: inline-block;
  padding: 0 20px;
  font-size: 0.9em; }
  .navbar__link a {
    color: black;
    text-decoration: none; }
  .navbar__link a:hover {
    color: #ddd; }

.quicknavbar {
  display: none; }

.page-title {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #888888;
  font-size: 3em;
  text-align: center; }
  .page-title a {
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    color: #888888;
    text-decoration: none; }
    .page-title a:hover {
      color: #00a9e0; }
    .page-title a:active, .page-title a:focus {
      color: #00a9e0; }

.page-subtitle {
  position: relative;
  top: -20px;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center; }
  .page-subtitle strong {
    font-style: italic; }

.page-start {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 70px;
  max-width: 900px;
  border-top: 0px;
  border-bottom: 1px solid #DDD; }

@media only screen and (max-width: 600px) {
  .page-title {
    font-size: 2em;
    margin-top: 30px; }

  .page-subtitle {
    display: none; }

  .page-start {
    margin-bottom: 40px; }

  .navbar {
    display: none; }

  .quicknavbar {
    display: block;
    margin: 20px auto;
    width: 70%; } }
@media only screen and (max-width: 1300px) {
  .page-start {
    width: 80%; } }
.page-footer {
  position: relative;
  margin-top: 160px;
  padding: 20px;
  background: #3b3b3d;
  color: white;
  font-size: 0.9em; }

.credits {
  display: table;
  caption-side: top;
  width: 100%; }

.credits__desc,
.credits__follows {
  margin: 0; }

.credits__desc {
  display: table-cell; }
  .credits__desc strong {
    font-style: italic;
    font-weight: normal; }

.credits__follows {
  display: table-cell;
  padding: 0;
  list-style: none;
  text-align: right; }
  .credits__follows li {
    display: inline-block; }
    .credits__follows li a {
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 30px;
      color: white;
      text-decoration: none; }
    .credits__follows li a:hover {
      color: #ddd; }
    .credits__follows li.twitter a {
      padding: 0 20px 0 40px;
      background-image: url("/static/images/icon-twitter-white.png"); }
    .credits__follows li.facebook a {
      padding-left: 35px;
      background-image: url("/static/images/icon-facebook-white.png"); }

@media only screen and (max-width: 800px) {
  .credits__desc {
    display: table-row; }

  .credits__follows {
    display: table-caption;
    padding-bottom: 15px;
    text-align: center; } }
.home__aside h2 {
  font-size: 1.2em;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd; }
.home__aside ul {
  list-style: none;
  padding-left: 20px;
  border-left: 1px solid #ddd; }
.home__aside li {
  margin: 10px 0; }

@media only screen and (max-width: 500px) {
  .home__aside {
    margin-top: 60px; } }
@media only screen and (min-width: 500px) {
  .home {
    display: table;
    width: 100%; }

  .home__desc {
    display: table-cell;
    width: 60%; }

  .home__aside {
    display: table-cell;
    padding-left: 40px;
    width: 40%; } }
.card {
  margin-bottom: 90px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee; }

.card.alone {
  border-bottom: none; }

.card__title {
  margin: 0;
  margin-bottom: 20px; }

.card__cover {
  float: left;
  margin-right: 20px;
  width: 150px;
  height: 150px;
  border: 1px solid #ddd; }

.card__body > :first-child {
  margin-top: 0; }

@media only screen and (max-width: 500px) {
  .card__cover {
    display: block;
    float: none;
    margin: 20px auto; } }
.entry {
  position: relative;
  margin-bottom: 120px;
  min-height: 180px; }

.entry__content h1 {
  margin: 50px 0 0 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 1.5em; }
.entry__content h2 {
  margin: 40px 0 0 0;
  font-size: 1.4em; }
.entry__content h3 {
  margin: 40px 0 0 0;
  color: #87878a;
  font-size: 1.1em; }
.entry__content blockquote {
  padding-left: 30px;
  border-left: 1px solid #ccc;
  color: #828282; }
.entry__content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border: 1px solid #ccc; }
.entry__content .highlight {
  margin: 20px -20px;
  padding: 5px 20px;
  background: #313131;
  color: white;
  font-size: 0.8em; }
  .entry__content .highlight code {
    font-family: monospace; }

@media only screen and (max-width: 1000px) {
  .entry__title {
    margin-bottom: 0; }

  .entry__metadata {
    position: relative;
    top: -5px; }

  .entry__author {
    display: inline; }
    .entry__author img {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      border-radius: 30px;
      vertical-align: middle; }
    .entry__author p {
      display: inline-block;
      font-style: italic;
      vertical-align: middle;
      font-size: 0.9em; }

  .entry__infos {
    display: inline;
    color: #bbb; }
    .entry__infos p {
      display: inline;
      margin-left: 10px;
      font-style: italic;
      font-size: 0.9em;
      vertical-align: middle; } }
@media only screen and (min-width: 1000px) {
  .entry__metadata {
    position: absolute;
    left: -160px;
    width: 150px;
    text-align: center; }

  .entry__author img {
    width: 80px;
    height: 80px;
    border-radius: 80px; }
  .entry__author p {
    margin: 5px 0 0 0;
    font-size: 0.8em; }

  .entry__infos {
    color: #bbb;
    font-size: 0.7em; }
    .entry__infos p {
      margin: 0; } }
.contacts {
  padding-left: 10px;
  list-style: none; }
  .contacts li {
    padding: 0; }
    .contacts li a {
      padding-left: 40px;
      background-size: 28px;
      background-repeat: no-repeat; }
    .contacts li.twitter a {
      background-image: url("/static/images/icon-twitter-black.png"); }
    .contacts li.facebook a {
      background-image: url("/static/images/icon-facebook-black.png"); }
    .contacts li.mail a {
      background-image: url("/static/images/icon-mail-black.png"); }

@media only screen and (max-width: 600px) {
  .contacts li {
    font-size: 1.2em; } }
.founders {
  display: table;
  margin: 0 auto;
  padding: 60px 0;
  width: 700px; }

.founder {
  display: table-cell;
  width: 50%;
  text-align: center; }

.founder__cover {
  width: 160px;
  height: 160px;
  border-radius: 100px; }

.founder__title {
  margin: 40px 0 0 0;
  font-size: 1.4em; }

.founder__links {
  margin: 10px 0;
  padding: 0;
  list-style: none; }

.founder__links li {
  padding: 2px 0; }
  .founder__links li a {
    padding-left: 35px;
    background-size: 28px;
    background-repeat: no-repeat; }
  .founder__links li.blog a {
    background-image: url("/static/images/icon-site-black.png"); }
  .founder__links li.twitter a {
    background-image: url("/static/images/icon-twitter-black.png"); }

@media only screen and (max-width: 600px) {
  .founder__links {
    font-size: 1.2em; } }
@media only screen and (max-width: 720px) {
  .founders {
    display: block;
    padding: 0;
    width: auto; }

  .founder {
    display: block;
    margin: 60px 0;
    width: auto; }

  .founder__title {
    margin-top: 20px; } }
.pager {
  position: relative;
  display: table;
  margin: 0 auto;
  width: 100%;
  color: #bbb; }
  .pager.pager--bottom-space {
    bottom: -140px; }
  .pager.pager--bottom-separator {
    padding-top: 20px;
    border-top: 1px solid #eee; }
  .pager.pager--top-separator {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee; }

.pager--em a {
  color: #EC8604; }

.pager__ref,
.pager__newer,
.pager__older {
  display: table-cell; }

.pager__ref {
  width: 36%;
  text-align: center; }

.pager__older {
  width: 32%;
  text-align: left; }

.pager__newer {
  width: 32%;
  text-align: right; }

.archives {
  padding: 0;
  list-style: none; }

.archives li {
  margin-bottom: 20px; }

.archives__link {
  font-size: 1.5em; }

.archives__date {
  margin-left: 10px;
  color: #bbb;
  font-size: 0.9em;
  font-style: italic; }

.tutorial .page-header {
  margin-bottom: 40px;
  padding: 12px 10px;
  background-color: rgba(240, 240, 240, 0.8);
  font-size: 0.8em; }
  .tutorial .page-header nav {
    display: table;
    width: 100%; }
  .tutorial .page-header .page-back,
  .tutorial .page-header .page-ref,
  .tutorial .page-header .page-link {
    display: table-cell;
    width: 25%; }
  .tutorial .page-header .page-back {
    text-align: left; }
  .tutorial .page-header .page-ref {
    text-align: center;
    padding: 0 10px;
    width: 50%; }
  .tutorial .page-header .page-link {
    text-align: right; }
.tutorial .page-content {
  margin: 20px auto; }
.tutorial .entry {
  margin: 60px 0; }
.tutorial .page-footer {
  background-color: transparent;
  color: #888888; }
  .tutorial .page-footer p {
    display: block;
    font-size: 0.9em;
    text-align: center; }

/*
 * Dirty fixes for IE version 7 and 8. Not IE6, get away.
 * The plan is not to make the site beautiful, but **readable**.
 * If a CSS feature does not work, we simply remove it.
 */
.ie body {
  font-family: Georgia, serif; }
.ie .page {
  min-width: 700px; }
.ie .banner {
  height: auto;
  background: none;
  background-color: #eee;
  border: none; }
.ie .logo {
  display: block;
  padding: 30px 0;
  width: 300px;
  margin: 0 auto;
  text-align: center; }
.ie .logo__img {
  width: 100px;
  height: 100px; }
.ie .logo__title {
  margin: 0; }
.ie .navbar li {
  display: inline; }
.ie .page-start {
  width: 700px; }
.ie .entry__title {
  font-size: 1.5em; }
.ie .entry__metadata {
  margin-bottom: 50px; }
.ie .entry__author {
  display: inline; }
  .ie .entry__author img {
    display: inline;
    width: 50px;
    height: 50px;
    vertical-align: middle; }
  .ie .entry__author p {
    display: inline;
    margin-left: 10px;
    vertical-align: middle; }
.ie .entry__infos {
  display: inline; }
  .ie .entry__infos p {
    display: inline;
    margin-left: 10px;
    color: #bbb;
    font-style: italic; }
.ie .pager {
  text-align: center; }
  .ie .pager .pager__older {
    display: inline; }
  .ie .pager .pager__ref {
    display: inline;
    margin: 0 100px; }
  .ie .pager .pager__newer {
    display: inline; }
.ie .contacts a {
  padding: 0;
  background: none !important; }
.ie .founders {
  padding: 30px 0; }
.ie .founder {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 350px; }
.ie .founder__cover {
  float: left;
  margin: 0 20px 0 0; }
.ie .founder__title {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 1.2em;
  text-align: left; }
.ie .founder__links {
  text-align: left; }
  .ie .founder__links a {
    padding: 0;
    background: none !important; }
.ie .page-footer {
  position: relative; }
.ie .page-footer ul {
  position: absolute;
  top: 20px;
  right: 20px; }
.ie .page-footer li {
  display: inline;
  margin-left: 30px; }
  .ie .page-footer li a {
    padding: 0;
    background: none; }
