@charset "utf-8";

// -------------------------------------------------------
// Typography and vertical rythm.
// -------------------------------------------------------

html {
  color: $default-text-color;
  background-color: $default-background-color;

  font-family: $font-normal;
  font-size: 62.5%;
  font-weight: normal;
  line-height: $default-line-height;
}

// -------------------------------------------------------
// Selections.
// -------------------------------------------------------

::selection {
  color: white;
  background: $burger;
}
