@charset "utf-8";

// -------------------------------------------------------
// Typography.
// -------------------------------------------------------

// Colors.
$brand-color: #ff4600;
$brand-color-sub: #ff5303;
$brand-color-dark: #da4101;
$brand-color-light: #ff8914;

// Texts.
$text-color: #010101;
$background-color: white;

// Fonts.
$font-normal: "PT Sans", Verdana, sans-serif;
$font-title: "Bebas Neue", "Arial Narrow", Arial, sans-serif;
$font-code: Menlo, monospace;

// Margins.
$line-height-default: 1.45;
$margin-default: 1.45rem;

// -------------------------------------------------------
// Viewports.
// -------------------------------------------------------
