@charset "utf-8";

// -------------------------------------------------------
// Typography.
// -------------------------------------------------------

// Pizza color.
$pizza: #ff4600;
$pizza-dark: #da4101;
$pizza-light: #ff5303;

// Burger color.
$burger: #ff8914;
$burger-dark: #f66e0e;
$burger-light: #ffae15;

// Dragon color.
$dragon: #392f2f;

// Spectrum.
$pxn-black: #070707;
$pxn-dark: #353535;
$pxn-medium: #616161;
$pxn-light: #a3a3a3;
$pxn-white: #e6e6e6;

// -------------------------------------------------------
// Defaults.
// -------------------------------------------------------

$default-text-color: $pxn-black;
$default-background-color: $pxn-dark;
$default-line-height: 1.45;
$default-spacing: 1.6rem; // 16px

// -------------------------------------------------------
// Fonts.
// -------------------------------------------------------

$font-normal: "Alegreya Sans", Verdana, sans-serif;
$font-title: "Bebas Neue", "Arial Narrow", Arial, sans-serif;
$font-code: Menlo, Courier, monospace;

// -------------------------------------------------------
// Viewports.
// -------------------------------------------------------

$vp-small: 512px;
$vp-page: 640px;
$vp-medium: 800px;
$vp-large: 1040px;
