@charset "utf-8";

// -------------------------------------------------------
// Footer.
// -------------------------------------------------------

.page-footer {
  @include font-title;

  display: table;

  box-sizing: border-box;
  width: 100%;
  height: 64px;
  padding: 0 16px;

  color: white;
  background: $pxn-dark;
}

.page-footer__item {
  display: table-cell;

  width: 50%;

  vertical-align: middle;
}

.page-footer__item.copyright {
  p:first-child {
    font-size: 1.3rem;
  }

  p:last-child {
    font-size: 1.6rem;
  }
}

.page-footer__item.social {
  text-align: right;

  img {
    vertical-align: middle;
  }

  .facebook,
  .twitter {
    width: auto;
    height: 20px;
  }

  .facebook {
    margin-right: 16px;
  }

  .twitter {
    margin-right: 32px;
  }

  .pxn {
    width: auto;
    height: 32px;
  }

  a {
    img {
      transition: all 150ms ease-out;
    }

    &:hover img {
      transform: scale(1.1, 1.1);
    }
  }
}
