@charset "utf-8";

// -------------------------------------------------------
// Header.
// -------------------------------------------------------

.c-site-banner {
  display: flex;
}

.c-site-banner__logo {
  width: 500px;
  height: auto;
}

.c-site-nav {
  display: flex;

  width: 100%;
  height: 47px;

  background: url("/static/images/nav.png");

  align-items: center;
}

.c-site-nav ul {
  margin: 0;
}

.c-site-nav li {
  display: inline-block;

  text-transform: uppercase;
}
