@charset "utf-8";

// -------------------------------------------------------
// Home.
// -------------------------------------------------------

.home {
  @include font-title;

  background: url("/static/images/header/home.jpg") no-repeat center center fixed;
  background-size: cover;
}

// -------------------------------------------------------
// Header.
// -------------------------------------------------------

.home__header {
  padding-top: 32px;
}

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.home__content {
  padding-top: 64px;
}

.home__list {
  text-align: center;
}

.home__project {
  display: inline-block;

  margin: 8px;
}

// -------------------------------------------------------
// Footer.
// -------------------------------------------------------

.home__footer {
  padding-top: 64px;
  padding-bottom: 24px;

  @media only screen and (min-height: 850px) {
    position: fixed;
    bottom: 0;

    width: 100%;
  }
}

.home__tagline {
  margin-bottom: 16px;

  color: white;

  font-size: 2.4rem;

  text-align: center;
}
