@charset "utf-8";

// -------------------------------------------------------
// Home.
// -------------------------------------------------------

.home {
  @include font-title;

  background: url("/static/images/header/home.jpg") no-repeat center center fixed;
  background-size: cover;
}

// -------------------------------------------------------
// Header.
// -------------------------------------------------------

.home__header {
  padding-top: 32px;
}

// -------------------------------------------------------
// Content.
// -------------------------------------------------------

.home__content {
}

.home__list {
  padding: 32px 0;

  text-align: center;
}

.home__project {
  display: inline-block;

  margin: 8px;
}

// -------------------------------------------------------
// Footer.
// -------------------------------------------------------

.home__footer {
  position: fixed;
  bottom: 24px;

  width: 100%;
}

.home__tagline {
  margin-bottom: 16px;

  color: white;

  font-size: 2.4rem;

  text-align: center;
}
