@charset "UTF-8";

// -------------------------------------------------------
// Mixed Data.
//
// A mixed-data mixin is a generic block of content which can
// contains almost anything. It's an entry body, a standard
// section.
//
// If you have some contents that need basic styling, use
// this.
// -------------------------------------------------------

@mixin mixed-data {
  @include spacing;

  font-size: 1.8rem;

  h1 {
    @include font-title;

    padding-top: 32px;
    padding-bottom: 4px;

    border-bottom: 1px solid $pxn-white;

    font-size: 3rem;
  }

  h2 {
    @include font-title;

    padding-top: 24px;

    font-size: 2.6rem;
    font-weight: bold;
  }

  h3 {
    @include font-title;

    padding-top: 16px;

    color: $pxn-medium;
  }

  // Lists.

  ul {
    padding-left: $default-spacing * 2;

    list-style: circle;
  }

  ol {
    padding-left: $default-spacing * 2;
  }

  // Inline.

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  // Image.

  img {
    display: block;

    max-width: 100%;
    margin: 0 auto;
  }

  // Links.

  a {
    @extend %link;
  }

  // Table.

  table {
    width: 100%;

    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: #f0f0f0;
    }

    th,
    td {
      height: 40px;

      text-align: center;
    }

    th {
      @include font-title;

      color: white;
      background-color: $pizza;
      border: 1px solid darken($pizza, 2%);

      font-weight: bold;
    }

    td {
      border: 1px solid $pxn-white;

      font-size: 1.8rem;
    }
  }

  // Code.

  // Block code.
  .highlight {
    margin-left: -$default-spacing;
    margin-right: -$default-spacing;
    padding: 16px;

    background: darken($dragon, 9%);
    border-radius: 2px;

    font-size: 1.4rem;
    line-height: 1.3;

    white-space: pre-wrap;

    // Restore the defaults.
    // The .highlight will take care of that.
    code {
      padding: 0;

      background: none;
      border: none;

      font-size: 1.4rem;
    }
  }

  // Inline code.
  code {
    padding: 3px;

    color: $pizza-dark;
    background: rgba(#f0f0f0, 0.4);
    border: 1px solid rgba($pxn-light, 0.4);
    border-radius: 2px;

    font-family: $font-code;
    font-size: 1.3rem;
  }

  // Misc.

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;

    color: $pxn-medium;
    border-left: 8px solid $pxn-white;

    font-style: italic;
  }

  hr {
    width: 50%;
    margin-bottom: $default-spacing * 2;
    margin-left: auto;
    margin-right: auto;

    border: none;
    border-top: 1px solid $pxn-white;
  }

  figure figcaption {
    padding-top: $default-spacing;

    font-style: italic;

    text-align: center;
  }

  // Objects.

  iframe {
    display: block;

    max-width: 100%;
    margin: 0 auto;
    margin-bottom: $default-spacing;
  }

  // Custom tags.

  [data-block*="info"],
  [data-block*="tip"],
  [data-block*="note"],
  [data-block*="warning"],
  [data-block*="danger"] {
    display: block;

    margin-bottom: $default-spacing;
    padding: 12px 16px;

    background: $pxn-white;
    border-radius: 2px;

    font-size: 1.6rem;

    > p:last-child {
      margin-bottom: 0;
    }

    code {
      padding: 2px 3px;

      font-size: 1.2rem;
    }
  }

  [data-block*="info"] {
    background-color: #d8d8d8;
  }

  [data-block*="tip"] {
    background-color: #8bd259;
  }

  [data-block*="note"] {
    background-color: #73c1ec;
  }

  [data-block*="warning"] {
    background-color: #f5d87d;
  }

  [data-block*="danger"] {
    background-color: #f67b64;
  }
}
