@charset "utf-8";

/* ---------------------------------------------------------- *\
 * Externals.
\* ---------------------------------------------------------- */

@import "~normalize.css/normalize";

/* ---------------------------------------------------------- *\
 * Variables.
\* ---------------------------------------------------------- */

@import "variables";

/* ---------------------------------------------------------- *\
 * Vendor.
\* ---------------------------------------------------------- */

@import "vendor/reset";
@import "vendor/highlighter";

/* ---------------------------------------------------------- *\
 * Utilities.
\* ---------------------------------------------------------- */

@import "utilities/links";

/* ---------------------------------------------------------- *\
 * Mixins.
\* ---------------------------------------------------------- */

@import "mixins/font-title";
@import "mixins/grid";
@import "mixins/mixed-data";
@import "mixins/spacing";

/* ---------------------------------------------------------- *\
 * Defaults.
\* ---------------------------------------------------------- */

@import "defaults";

/* ---------------------------------------------------------- *\
 * Objects.
\* ---------------------------------------------------------- */

@import "objects/trilogy";

/* ---------------------------------------------------------- *\
 * Components.
\* ---------------------------------------------------------- */

@import "components/archives";
@import "components/block";
@import "components/entry";
@import "components/footnotes";
@import "components/home-card";
@import "components/intent-button";
@import "components/legal";
@import "components/logo";
@import "components/member";
@import "components/navbar";
@import "components/not-found";
@import "components/pager";
@import "components/product";
@import "components/studio";
@import "components/tutorial";

/* ---------------------------------------------------------- *\
 * Pages.
\* ---------------------------------------------------------- */

@import "pages/content";
@import "pages/footer";
@import "pages/header";
@import "pages/home";
@import "pages/layout";
