@charset "utf-8";

// -------------------------------------------------------
// Links.
// -------------------------------------------------------

%link {
  $color: $pizza;

  color: $color;

  text-decoration: none;

  &:hover {
    color: lighten($color, 5%);

    text-decoration: underline;
  }

  &:active {
    color: darken($color, 5%);
  }
}
