{% assign hero = include.data %}

<article class="product-hero">
  <div class="product-hero__image-wrapper">
    <img class="product-hero__image"
         src="{{ hero.assets }}hero.jpg"
         alt="{{ hero.title }}"
         title="{{ hero.title }}">
  </div>

  <section class="product-hero__body">
    <header class="product-hero__header">
      <h1 class="product-hero__title">
        <a href="{{ hero.url }}">
          {{ hero.title }}
        </a>
      </h1>

      {% if hero.subtitle %}
        <h2 class="product-hero__subtitle">{{ hero.subtitle }}</h2>
      {% endif %}
    </header>

    {% if hero.type contains 'service' %}
    <div class="product-hero__service">
      Client Work
    </div>
    {% endif %}

    <div class="product-hero__content">
      {{ hero.content | markdownify }}
    </div>

    <aside class="product-hero__links">
      {% if hero.links and hero.links != empty %}
        <ul>
          {% for link in hero.links %}
            <li>
              <a href="{{ link.url }}">
                {{ link.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </aside>

    <div class="product-hero__types">
      {% assign sorted = hero.type | sort %}
      {% for type in sorted %}
        {% if type == 'service' %}
        <span class="product-hero__type product-hero__type--service">Client Work</span>
        {% else %}
        <span class="product-hero__type">{{ type }}</span>
        {% endif %}
      {% endfor %}
    </div>
  </section>
</article>
