{% assign item = include.data %}

<article class="product-item">
  <div class="product-item__image-wrapper">
    <img class="product-item__image"
         src="{{ item.assets }}cover.jpg"
         alt="{{ item.title }}"
         title="{{ item.title }}">
  </div>

  <section class="product-item__body">
    <h1 class="product-item__title">
      {{ item.title }}
      {% for t in item.type %}
      <span class="product-item__type">{{ t }}</span>
      {% endfor %}
    </h1>

    <div class="product-item__content">
      {{ item.excerpt | markdownify }}
    </div>

    <a class="product-item__link" href="{{ product.url }}">
      Read more
    </a>
  </section>
</article>
