<div class="legal">
  <ul class="legal__data">
    <li class="primary">PIXELNEST STUDIO SARL</li>
    <li>81 Mail François Mitterand</li>
    <li>35000 RENNES</li>
    <li>SARL au capital de 3920€</li>
    <li>SIRET : 80014789400011</li>
    <li>RCS : Rennes B800147894</li>
    <li>Numéro TVA Intracommunautaire : FR20800147894</li>
    <li>Gérants : Damien MAYANCE et Eddy MARGUERON</li>
  </ul>

  <p class="legal__contact">
    Pour toute réclamation concernant ce site et/ou son contenu : <a href="mailto:contact@pixelnest.io" title="Pixelnest Mail">adresse e-mail de contact</a>.
  </p>

  <p class="legal__detail">
    L'ensemble de ce site relève des législations française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents iconographiques et photographiques.
  </p>
</div>
