<section class="legal">
  <h2>Mentions légales</h2>

  <ul>
    <li class="primary">PIXELNEST STUDIO SARL</li>
    <li>81 Mail François Mitterand</li>
    <li>35000 RENNES</li>
    <li>SARL au capital de 4000€</li>
    <li>SIRET : 800 147 894 00011</li>
    <li>RCS : Rennes B 800 147 894</li>
    <li>Numéro TVA Intracommunautaire : FR20800147894</li>
    <li>Gérants : Damien MAYANCE et Matthieu OGER</li>
  </ul>

  <p>
    Pour toute réclamation concernant ce site et/ou son contenu : <a href="mailto:site@pixelnest.io" title="Pixelnest Mail">adresse e-mail de contact</a>.
  </p>

  <p>
    L'ensemble de ce site relève des législations française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents iconographiques et photographiques.
  </p>
</section>
