<!-- start pagination -->
<div class="pager pager--bottom-space pager--bottom-separator">
  <!-- start older -->
  <section class="pager__older">
  {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" title="Older posts">← Older</a>
  {{ else }}
    ◆ End
  {{ end }}
  </section>
  <!-- end older -->

  <!-- start archives -->
  <section class="pager__ref">
    <a href="/journal/archives" title="Archives">Archives</a>
  </section>
  <!-- end archives -->

  <!-- start newer -->
  <section class="pager__newer">
  {{ if .Paginator.HasPrev }}
    {{ if eq .Paginator.Prev.PageNumber 1 }}
      <a href="/journal" title="Newer posts">Newer →</a>
    {{ else }}
      <a href="{{ .Paginator.Prev.URL }}" title="Newer posts">Newer →</a>
    {{ end }}
  {{ else }}
    Start ◇
  {{ end }}
  </section>
  <!-- end newer -->
</div>
<!-- end pagination -->
