@charset "utf-8";

// -------------------------------------------------------
// Entry.
// -------------------------------------------------------

.entry {
  position: relative;

  margin-bottom: 128px;
}

// Header.

.entry__header {
  margin-bottom: 40px;
}

.entry__title,
.entry__subtitle {
  @include font-title;
}

.entry__title {
  font-size: 3.2rem;

  a {
    display: block;

    color: $pizza;

    transition: all 250ms ease-out;
  }

  a:hover {
    padding-left: 5px;

    color: white;
    background: $pizza;
  }
}

.entry__subtitle {
  color: $pxn-medium;

  font-size: 1.8rem;
}

// Meta.

.entry__metadata {
  $size: 128px;

  @include font-title;

  position: absolute;
  top: 54px + 40px;
  left: -$size;

  width: $size;

  text-align: center;
}

.entry__author {
  img {
    width: 64px;
    height: auto;
    margin-bottom: 8px;

    border-radius: 2px;
  }

  figcaption {
    font-size: 1.6rem;
  }

  a {
    color: $burger;

    &:hover {
      color: $burger-light;
    }

    &:active {
      color: $burger-dark;
    }
  }
}

.entry__date {
  color: $pxn-light;

  font-size: 1.4rem;
}

// Content.

.entry__content {
  @extend %content-block;

  margin-bottom: 48px;

  font-size: 1.8rem;
}

// Footer.

.entry__footer {
  @include font-title;

  padding-top: 8px;

  color: $pxn-light;
  border-top: 1px solid $pxn-white;

  font-size: 1.2rem;

  img {
    width: 16px;
    height: auto;
  }
}
