@charset "utf-8";

// -------------------------------------------------------
// Entry.
// -------------------------------------------------------

.entry {
  position: relative;

  margin-bottom: 128px;
}

// Header.

.entry__header {
  margin-bottom: 40px;
}

.entry__title,
.entry__subtitle {
  @include font-title;
}

.entry__title {
  font-size: 3.2rem;

  a {
    display: block;

    color: $pizza;

    transition: all 250ms ease-out;
  }

  a:hover {
    padding-left: 5px;

    color: white;
    background: $pizza;
  }
}

.entry__subtitle {
  padding-left: 1px;

  color: $pxn-medium;

  font-size: 1.8rem;
}

// Meta.

.entry__metadata {
  $size: 128px;

  @include font-title;

  position: absolute;
  top: 54px + 40px;
  left: -$size;

  width: $size;

  text-align: center;
}

.entry__author {
  img {
    width: 64px;
    height: auto;
    margin-bottom: 8px;

    border-radius: 2px;
  }

  figcaption {
    font-size: 1.6rem;
  }

  a {
    color: $burger;

    &:hover {
      color: $burger-light;
    }

    &:active {
      color: $burger-dark;
    }
  }
}

.entry__date {
  color: $pxn-light;

  font-size: 1.4rem;
}

// Content.

.entry__content {
  @include mixed-data;

  margin-bottom: 48px;

  font-size: 1.8rem;
}

// Footer.

.entry__footer {
  @include font-title;

  padding-top: 8px;

  color: $pxn-light;
  border-top: 1px solid $pxn-white;

  font-size: 1.2rem;

  img {
    width: 16px;
    height: auto;
  }
}

// -------------------------------------------------------
// Responsive.
// -------------------------------------------------------

// Small size.
@media only screen and (max-width: 840px) {
  .entry__header {
    margin-bottom: $default-spacing;
  }

  .entry__metadata {
    position: static;

    width: auto;
    margin-bottom: 24px;
    padding: 8px 0;

    border-top: 1px solid $pxn-white;
    border-bottom: 1px solid $pxn-white;

    text-align: left;

    &:after {
      display: table;
      clear: both;

      content: "";
    }
  }

  .entry__author {
    img {
      float: left;

      width: 40px;
      margin: 0;
      margin-right: $default-spacing;
    }

    figcaption {
      font-size: 2.1rem;
    }
  }

  .entry__date {
    font-size: 1.6rem;
  }
}

// Big size.
@media only screen and (min-width: $vp-large) {
  .entry__metadata {
    left: -200px;

    width: 200px;
  }

  .entry__author {
    img {
      width: 88px;
    }

    figcaption {
      font-size: 2.2rem;
    }
  }

  .entry__date {
    font-size: 1.8rem;
  }
}
