<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
  {% include css.html %}
</head>
<body>
  {% include development.html %}

  <div class="page{% if page.class %} {{ page.class }}{% endif %}" id="page">
    {% unless page.simple == true %}
      {% include header.html %}
    {% endunless %}

    <div class="page-content">
      {{ content }}
    </div>

    {% unless page.simple == true %}
      {% include footer.html %}
    {% endunless %}
  </div>

  {% include js.html %}
</body>
</html>
