<!DOCTYPE html>
{% include html.html %}
<head>
  {% include meta.html %}

  <style>body { background-color: #fbfbfb; }</style>
</head>
<body>
  <div class="page tutorial" id="page">

    <!-- reduced header -->
    <header class="page-header">
      <nav>
        <!-- menu -->
        <section class"page-back">
          <a href="/">◇ Back to Pixelnest</a>
        </section>

        <section class="page-ref">
          {% if page.home and page.tutorial %}
          Tutorial : <a href="{{ page.home }}">{{ page.tutorial }}</a>
          {% endif %}
        </section>

        <!-- twitter -->
        <section class="page-link">
          <a href="http://twitter.com/pixelnest">follow us on twitter</a>
        </section>
      </nav>
    </header>

    <div class="page-content">

      <!-- start pagination -->
      <div class="pager pager--top-separator pager--em">
        <section class="pager__older">
        {% if page.previous %}
          <a href="{{ page.previous }}" title="Previous chapter">← Previous</a>
        {% endif %}
        </section>

        {% if page.home %}
        <section class="pager__ref">
          <a href="{{ page.home | remove: 'index.html' }}#summary" title="Summary">Summary</a>
        </section>
        {% endif %}

        <section class="pager__newer">
        {% if page.next %}
          <a href="{{ page.next }}" title="Next chapter">Next →</a>
        {% endif %}
        </section>
      </div>
      <!-- end pagination -->

      <!-- post layout -->
      <article class="entry">
        <h2 class="entry__title">
          <a href="{{ page.url | remove: 'index.html' }}" title="{{ page.title }}">{{ page.title }}</a>
        </h2>

        <aside class="entry__metadata">
          {% include author.html %}

          <section class="entry__infos">
            <p>
              {{ page.date | date: "%d %b. %Y" | downcase }}
            </p>
          </section>
        </aside>

        <section class="entry__content">
          {{ content }}
        </section>
      </article>
      <!-- end post layout -->

      <!-- start pagination -->
      <div class="pager pager--bottom-separator pager--em">
        <section class="pager__older">
        {% if page.previous %}
          <a href="{{ page.previous }}" title="Previous chapter">← Previous</a>
        {% endif %}
        </section>

        {% if page.home %}
        <section class="pager__ref">
          <a href="{{ page.home | remove: 'index.html' }}#summary" title="Summary">Summary</a>
        </section>
        {% endif %}

        <section class="pager__newer">
        {% if page.next %}
          <a href="{{ page.next }}" title="Next chapter">Next →</a>
        {% endif %}
        </section>
      </div>
      <!-- end pagination -->

    </div>

    <!-- reduced footer -->
    <footer class="page-footer">
      <p class="credits__desc">© 2013 pixelnest.io - we craft <strong>games</strong> and <strong>apps</strong></p>
    </footer>
  </div>

  {% include ga.html %}
  {% include js.html %}
</body>
</html>
