<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}

  <style>body { background-color: #fbfbfb; }</style>
</head>
<body>
  <div class="page tutorial" id="page">
    <!-- start promotion header -->
    {% include promotion_header.html %}
    <!-- end promotion header -->

    <!-- reduced header -->
    <header class="page-header">
      <nav>
        <!-- menu -->
        <section class"page-back">
          <a href="/">◇ Back to Pixelnest</a>
        </section>

        <section class="page-ref">
          {% if page.tutorial.link and page.tutorial.name %}
            {% if page.tutorial.show_label == nil or page.tutorial.show_label == true %}
              Tutorial: <a href="{{ page.tutorial.link }}">{{ page.tutorial.name }}</a>
            {% else %}
              <a href="{{ page.tutorial.link }}">{{ page.tutorial.name }}</a>
            {% endif %}
          {% endif %}
        </section>

        <!-- twitter -->
        <section class="page-link">
          <a href="http://twitter.com/pixelnest">follow us on twitter</a>
        </section>
      </nav>
    </header>

    <div class="page-content">

      <!-- start pagination -->
      {% if !page.links %}
      <div class="pager pager--top-separator pager--em">
        <section class="pager__older">
        {% if page.links.previous %}
          <a href="{{ page.links.previous }}" title="Previous chapter">← Prev.</a>
        {% endif %}
        </section>

        {% if page.links.summary %}
        <section class="pager__ref">
          <a href="{{ page.links.summary | remove: 'index.html' }}" title="Summary">Summary</a>
        </section>
        {% endif %}

        <section class="pager__newer">
        {% if page.links.next %}
          <a href="{{ page.links.next }}" title="Next chapter">Next →</a>
        {% endif %}
        </section>
      </div>
      {% endif %}
      <!-- end pagination -->

      <!-- post layout -->
      <article class="entry">
        <h2 class="entry__title">
          <a href="{{ page.url | remove: 'index.html' }}" title="{{ page.title }}">{{ page.title }}</a>
        </h2>

        {% if page.subtitle %}
        <h3 class="entry__subtitle">
          {{ page.subtitle }}
        </h3>
        {% endif %}

        {% if page.show_metadata == nil or page.show_metadata == true %}
        <aside class="entry__metadata">
          {% include author.html %}

          <section class="entry__infos">
            <p>
              {{ page.date | date: "%d %b. %Y" | downcase }}
            </p>
          </section>
        </aside>
        {% endif %}

        <section class="entry__content">
          {{ content }}
        </section>
      </article>
      <!-- end post layout -->

      <!-- start pagination -->
      <div class="pager pager--bottom-separator pager--em">
        <section class="pager__older">
        {% if page.links.previous %}
          <a href="{{ page.links.previous }}" title="Previous chapter">← Prev.</a>
        {% endif %}
        </section>

        {% if page.links.summary %}
        <section class="pager__ref">
          <a href="{{ page.links.summary | remove: 'index.html' }}" title="Summary">Summary</a>
        </section>
        {% endif %}

        <section class="pager__newer">
        {% if page.links.next %}
          <a href="{{ page.links.next }}" title="Next chapter">Next →</a>
        {% endif %}
        </section>
      </div>
      <!-- end pagination -->

      <!-- start promotion -->
      {% include promotion.html %}
      <!-- end promotion -->
    </div>

    <!-- reduced footer -->
    <footer class="page-footer">
      <p class="credits__desc">© 2013 pixelnest.io - we craft <strong>games</strong> and <strong>apps</strong></p>
    </footer>
  </div>

  {% include js.html %}
</body>
</html>
